In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
path = path='/gdrive/My Drive/ML:Pilot/Assignments/Data/Chennai_house_price_multivariate_train.csv'
data = pd.read_csv(path)
data.head()

   PRT_ID        AREA  INT_SQFT  ... REG_FEE  COMMIS  SALES_PRICE
0  P03210  Karapakkam      1004  ...  380000  144400      7600000
1  P09411  Anna Nagar      1986  ...  760122  304049     21717770
2  P01812       Adyar       909  ...  421094   92114     13159200
3  P05346   Velachery      1855  ...  356321   77042      9630290
4  P06210  Karapakkam      1226  ...  237000   74063      7406250

[5 rows x 22 columns]

In [ ]:
data.isnull().sum(axis=0)

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [ ]:
data = data.fillna({'N_BEDROOM':data['N_BEDROOM'].mean(),'N_BATHROOM':data['N_BATHROOM'].mean(), 'QS_OVERALL':data['QS_OVERALL'].mean() })

In [ ]:
y = data['SALES_PRICE']
y = np.array(y)
y= y.reshape(-1,1)
y.shape

(7109, 1)

In [ ]:
x = data.drop(columns = ['PRT_ID', 'SALES_PRICE', 'DATE_SALE', 'DATE_BUILD'])
x.head()

         AREA  INT_SQFT  DIST_MAINROAD  ...  QS_OVERALL  REG_FEE  COMMIS
0  Karapakkam      1004            131  ...       4.330   380000  144400
1  Anna Nagar      1986             26  ...       3.765   760122  304049
2       Adyar       909             70  ...       3.090   421094   92114
3   Velachery      1855             14  ...       4.010   356321   77042
4  Karapakkam      1226             84  ...       3.290   237000   74063

[5 rows x 18 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
x['AREA'] = labelencoder.fit_transform(x['AREA'])
x['SALE_COND'] = labelencoder.fit_transform(x['SALE_COND'])
x['PARK_FACIL'] = labelencoder.fit_transform(x['PARK_FACIL'])
x['BUILDTYPE'] = labelencoder.fit_transform(x['BUILDTYPE'])
x['UTILITY_AVAIL'] = labelencoder.fit_transform(x['UTILITY_AVAIL'])
x['STREET'] = labelencoder.fit_transform(x['STREET'])
x['MZZONE'] = labelencoder.fit_transform(x['MZZONE'])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scalery = MinMaxScaler()
x = scaler.fit_transform(x)
y = scalery.fit_transform(y)
x.shape, y.shape

((7109, 18), (7109, 1))

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((5331, 18), (1778, 18), (5331, 1), (1778, 1))

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
pred = regressor.predict(x_train)

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(y_train,pred))

0.869444008726181

In [ ]:
import math
error = [np.power((b-a),2) for (a,b) in zip(pred,y_train)]
error1 = np.sum(error)
error2 = math.sqrt(error1)
error2 = (error2/len(y))*100

print('Training Error % = {}'.format(error2))
accuracy = 100 - error2
print('Training Accuracy % = {}'.format(accuracy))

Training Error % = 0.06541221296106985
Training Accuracy % = 99.93458778703894

In [ ]:
pred1 = regressor.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(y_test,pred1))

import math
error = [np.power((b-a),2) for (a,b) in zip(pred1,y_test)]
error1 = np.sum(error)
error2 = math.sqrt(error1)
error2 = (error2/len(y))*100

print('Testing Error % = {}'.format(error2))
accuracy = 100 - error2
print('Testing Accuracy % = {}'.format(accuracy))

0.8668237021539598
Testing Error % = 0.03720325971983774
Testing Accuracy % = 99.96279674028017

In [ ]:
pathtest = '/gdrive/My Drive/ML:Pilot/Assignments/Data/Chennai_house_price_multivariate_test.csv'
datatest = pd.read_csv(pathtest)
datatest.head()

   PRT_ID        AREA  INT_SQFT  ... QS_OVERALL  REG_FEE  COMMIS
0  P05996    Chrompet       958  ...      3.860   203260   93813
1  P09294  Anna Nagar      1807  ...      2.775   370410  222246
2  P03807  Karapakkam      1658  ...      2.720   387972  113159
3  P00539  Anna Nagar      1592  ...      3.635   408134   84442
4  P01448    Chrompet       857  ...      3.570   181212   34849

[5 rows x 21 columns]

In [ ]:
datatest.isnull().sum(axis=0)

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         0
N_BATHROOM        0
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       19
REG_FEE           0
COMMIS            0
dtype: int64

In [ ]:
datatest = datatest.fillna({'QS_OVERALL':data['QS_OVERALL'].mean()})
datatest.isnull().sum(axis=0)

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
dtype: int64

In [ ]:
xtest = datatest.drop(columns = ['PRT_ID', 'DATE_SALE', 'DATE_BUILD'])
xtest.head()

         AREA  INT_SQFT  DIST_MAINROAD  ...  QS_OVERALL  REG_FEE  COMMIS
0    Chrompet       958            185  ...       3.860   203260   93813
1  Anna Nagar      1807            108  ...       2.775   370410  222246
2  Karapakkam      1658             59  ...       2.720   387972  113159
3  Anna Nagar      1592            102  ...       3.635   408134   84442
4    Chrompet       857             62  ...       3.570   181212   34849

[5 rows x 18 columns]

In [ ]:

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
xtest['AREA'] = labelencoder.fit_transform(xtest['AREA'])
xtest['SALE_COND'] = labelencoder.fit_transform(xtest['SALE_COND'])
xtest['PARK_FACIL'] = labelencoder.fit_transform(xtest['PARK_FACIL'])
xtest['BUILDTYPE'] = labelencoder.fit_transform(xtest['BUILDTYPE'])
xtest['UTILITY_AVAIL'] = labelencoder.fit_transform(xtest['UTILITY_AVAIL'])
xtest['STREET'] = labelencoder.fit_transform(xtest['STREET'])
xtest['MZZONE'] = labelencoder.fit_transform(xtest['MZZONE'])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

xtest = scaler.fit_transform(xtest)

xtest.shape

(2925, 18)

In [ ]:
predtest= regressor.predict(xtest)

In [ ]:
predtest

array([[0.20691314],
       [0.51632243],
       [0.27814154],
       ...,
       [0.61773248],
       [0.57241325],
       [0.46546816]])

In [ ]:
predtest= scalery.inverse_transform(predtest)
predtest

array([[ 6607672.80811709],
       [13263210.57491078],
       [ 8139828.82490023],
       ...,
       [15444587.9641509 ],
       [14469750.23606032],
       [12169311.5921475 ]])

In [ ]:
prediction = pd.DataFrame(predtest)
prediction

                 0
0     6.607673e+06
1     1.326321e+07
2     8.139829e+06
3     1.277858e+07
4     6.899530e+06
...            ...
2920  1.230392e+07
2921  8.954288e+06
2922  1.544459e+07
2923  1.446975e+07
2924  1.216931e+07

[2925 rows x 1 columns]

In [ ]:
prediction.to_csv('/gdrive/My Drive/ML:Pilot/Participants/Kamalesh/MultiVariate_Predictions.csv')